body  {
  font-family: Arial, Helvetice, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

  /*global*/
  .container{
    width: 80%;
    margin:auto;
    overflow: hidden;
  }


  ul{
    margin: 0px;
    padding: 0px;
  }

  /*header**/
  header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d  5px solid;
  }

  header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }


  header li{
    float: left;
    display: inline;
    padding: 0  20px  0 20px;
  }

  header  #branding{
    float: left;
  }

  header  #branding h1{
    margin: 0;
  }

  header nav{
    float: right;
    margin-top: 30px;
  }

  header  .highlight, header  .current a{
    color: #ffffff;

  }

  header  a:hover{
    color: #e8491d;
    font-weight: bold;
  }

  /*Images*/
  #showcase{
    min-height: 300px;
    background: url('../img/20151210_152200.jpg')  no-repeat  0 -820px;  margin:0px;
    text-align: center;
    color: #ffffff;
  }

  #image{
    min-height: 300px;
    min-width: inherit;
    background: url('../img/mindfulness-poster[1].jpg') no-repeat 0 -0px; margin-left: 400px;
    }

  #image2{
    min-height: 300px
    min-width: inherit;
    background: url('../img/confused-person[1].jpg') no-repeat 0 -0px; margin-left: 400px;
  }

  #image3{
    min-height: 250px
    min-width:inherit;
    background: url('../img/wireframe drawings.jpg')  no-repeat 0 -0px; margin-left: 200px;
    }

  #quote{
    text-align: center;
    font-weight: bold;
    color: black;
  }

  #plan{
    min-height: 300px;
    min-width: inherit;
    background: url('../img/plans[1].png')  no-repeat 0 -0px; margin-left: 450px;
  }

  /*body*/
  body  #content  p{
    text-align: justify;
  }
